*{
  box-sizing: border-box;
}

.content__box{
  padding-top: 150px;
  .contents.row{
    height: 500px;
    width:800px;
    margin:0px auto;
    text-align: center;
    border-radius: 10px;
    border-width:5px;
    border-color:rgb(219, 241, 180);
    border-style:solid;
    .container{
      margin-top:20px;
      input{
        width:700px;
        height:50px;
        margin: 20px 0 10px 0;
        border-radius: 10px;
        border-style:solid;
        border-color:rgb(219, 241, 180);
      }
      .field__image{
        width:700px;
        height:300px;
        margin:0px auto;
        #image_field{
          width:180px;
          height:180px;
          margin:0px auto;
        }
        .image__box{
          width:400px;
          height:30px;
          margin:0px auto;
        }
      }
      .submit_btn{
        width:180px;
        height:60px;
        background-color:rgba(156, 246, 144, 0.945);
        border-radius: 10px;
      }
        
    }
  }
}