.contents.row{
  height: 10%;
}
.tweet__row{
  display:flex;
  width:100%;
  height:80%;
  .tweet__side{
    width:45%;
    height:85%;
    padding:0 80px;
    &--box{
      height: 100%;
      box-shadow:1px 1px 10px grey;
      border-radius: 13px;

      .tweet__picture{
        height: 80%;
        width:100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 13px 13px 0 0;
          padding:0;
        }
      }
      .tweet__text{
        border-width:0 2px 2px;
        border-color:black;
        border-style:solid ;
        height: 100px;
        border-radius: 0 0 13px 13px;
        padding:2px 30px 0 30px;
        .tweet__uploader--name{
          border-width:0 0 1px;
          border-color:black;
          border-style:dotted ;
          font-weight: bold;
        }
        .tweet__main-text{

        }
      }
    }
  }
  .comment__side-box{
    width:55%;
    height:500px;
    padding-right:40px;
    .comment__list{
      height: 350px;
      width:100%;
      overflow: scroll;
      &--box{
        margin:5px;
        border-width:2px;
        border-style:solid ;
        border-radius: 13px;
        background-color: rgba(100, 252, 80, 0.3);
        .commented__user{
          margin:5px;
          font-weight: bold;
        }
        .commented__text{
          margin:5px;
        }
      }
      .reply__list--box{
        margin:5px 5px 5px 30px;
        border-width:2px;
        border-style:solid ;
        border-radius: 13px;
        background-color: rgb(247, 224, 243);
        .commented__user{
          margin:5px;
          font-weight: bold;
        }
        .commented__text{
          margin:5px;
        }
      }
    }
    .edit__list{
      height:150px;
      width:100%;
      border-width:5px 0 0 0;
      border-color:black;
      border-style:solid ;
      &--box{
        padding:20px 15px;
        display: flex;
        .edit-box{
          margin:auto 40px;
          border-radius: 13px;
          background-color: rgba(175, 253, 165, 0.9);
          width:100%;
          height:60px;
          text-align: center;
          padding-top:8px;
          a{
            text-decoration: none;
            color:black;
            font-size: 25px;
            width: 100%;
          }
        }
        .delete-box{
          margin:auto 40px;
          border-radius: 13px;
          background-color: rgba(175, 253, 165, 0.9);
          width:100%;
          height:60px;
          text-decoration: none;
          text-align: center;
          padding-top:8px;
          a{
            text-decoration: none;
            font-size: 25px;
            color:black;
            width: 100%;
          }
        }
      }
      .comment--box{
        margin-right:5px;
        width: 100%;
        &__label{
          input{
            width:100%;
            height:50px;
            margin: 0 10px 0 5px;
            border-radius: 10px;
            border-style:solid;
            border-color:black;
            
          }
        }
        &__text{
          input{
            width:100%;
            height:50px;
            margin: 0 10px 0 5px;
            border-radius: 10px;
            border-style:solid;
            border-color:black;
          }
        }
        textarea{
          width:100%;
          height:200px;
          border-radius: 10px;
          border-style:solid;
          border-color:black;
          margin-right:30px;
        }
  
        &__btn{
          width:150px;
          height:30px;
          border-radius: 10px;
          margin:5px auto 0 auto;
          input{
            width:100%;
            height:50px;
            margin: 0 10px 0 5px;
            border-radius: 10px;
            border-style:solid;
            border-color:black;
            background-color:rgba(156, 246, 144, 0.945);
          }
        }
      }
    }
  }
}

.delete-box:hover{
  box-shadow:1px 1px 10px grey;
}

.edit-box:hover{
  box-shadow:1px 1px 10px grey;
}